/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #f0f0f0;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 1em;
}

.logo img {
  width: 200px;
  height: auto;
}

/* Top Navigation Styles */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.topnav button {
  margin: 0 10px;
}

/* Button Styles */
button {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10000px;
  background-color: #00c8ffcc;
  color: #f0f0f0;
  font-weight: 700;
  cursor: pointer;
}

.copy {
  background-color: #09ff00a8;
}

.html {
  background-color: #E44D26;
}

.css {
  background-color: #1572B6;
}

.js {
  background-color: #f7e118d0;
}

.code {
  background-color: #4a4a4a;
  padding: 5px;
  border-radius: 25px;
}
